@font-face {
    font-family: 'munroregular';
    src: url('../font/munro-webfont.woff2') format('woff2'),
         url('../font/munro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-smooth: never;
    -webkit-font-smoothing: antialiased;

}
    
.pokedexcontainer {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.imgpokedex {
    position: absolute;
    top: 153px;
    left: 90px;
    width: auto;
    height: 180px;
    z-index: 2;
}

#shinybutton {
  font-family: 'munroregular';
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  padding-left: 4px;
  top: 387px;
  left: 500px;
  height: 32px;
  width: 47px;
  z-index: 2;

}

#defaultbutton {
  font-family: 'munroregular';
  font-size: 15px;
  font-weight: bold;
  position: absolute;
    padding-left: 2px;
    top: 387px;
    left: 451px;
    height: 32px;
    width: 47px;
    z-index: 2;
}

#testbutton{
  font-family: 'munroregular';
}