@font-face {
    font-family: 'munroregular';
    src: url('./font/munro-webfont.woff2') format('woff2'),
         url('./font/munro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url(./image/background.png);
}

.align {
  display: flex;
  justify-content: center;
}

.pokedexcontainer {
  position: absolute;
}

.imgpokedex {
  position: absolute;
  top: 153px;
  left: 90px;
  width: auto;
  height: 180px;
}

#shinybutton {
  font-family: 'munroregular';
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  padding-left: 4px;
  top: 387px;
  left: 500px;
  height: 32px;
  width: 47px;
}

#defaultbutton {
  font-family: 'munroregular';
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  padding-left: 2px;
  top: 387px;
  left: 451px;
  height: 32px;
  width: 47px;
}

#malebtn {
  font-family: 'munroregular';
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  padding-left: 5px;
  top: 387px;
  left: 549px;
  height: 32px;
  width: 47px;
}

#femalebtn {
  font-family: 'munroregular';
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  padding-left: 2px;
  top: 387px;
  left: 597px;
  height: 32px;
  width: 48px;
}


#testbutton{
  font-family: 'munroregular';
}

#srch {
  font-family: 'munroregular';
  font-size: 15px;
  position: absolute;
  padding-left: 5px;
  top: 136px;
  left: 81px;
  width: 150px;
}

#submit {
  font-family: 'munroregular';
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 136px;
  left: 231px;
}

#desc {
  font-family: 'munroregular';
  font-size: 14px;
  color: rgb(245, 245, 245);
  position: absolute;
  top: 184px;
  left: 455px;
  width: 230px;
}

#name{
  font-family: 'munroregular';
  font-size: 20px;
  color: rgb(245, 245, 245);
  position: absolute;
  top: 150px;
  left: 455px;
}

#height{
  font-family: 'munroregular';
  font-size: 15px;
  color: rgb(245, 245, 245);
  position: absolute;
  top: 455px;
  left: 100px;
}

#weight{
  font-family: 'munroregular';
  font-size: 15px;
  color: rgb(245, 245, 245);
  position: absolute;
  top: 475px;
  left: 100px;
}

#type1{
  font-family: 'munroregular';
  font-size: 15px;
  color: rgb(245, 245, 245);
  position: absolute;
  top: 468px;
  left: 460px;
}

#type2{
  font-family: 'munroregular';
  font-size: 15px;
  color: rgb(245, 245, 245);
  position: absolute;
  top: 468px;
  left: 590px;
}